@import "tailwindcss";

@theme {
  --font-serif: "Outfit", sans-serif;
  --font-sans: "Inter", sans-serif;
  --color-console-dark: #0a0a0a;
  --color-console-accent: #ff3e3e;
  --color-paper: #f4f4f0;
  --animate-glitch: glitch 0.4s cubic-bezier(.25, .46, .45, .94) both infinite;

  @keyframes glitch {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translate(-2px, 2px);
    }

    40% {
      transform: translate(-2px, -2px);
    }

    60% {
      transform: translate(2px, 2px);
    }

    80% {
      transform: translate(2px, -2px);
    }

    100% {
      transform: translate(0);
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #f4f4f0;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
